{% extends "main/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head%}
<link rel="stylesheet" href="{% static 'main/css/grid_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center">Orders</h2>
    <div class="row">
        {% if orders %}
        <div class="col data d-title">
            address
        </div>
        <div class="col data d-title">
            phone
        </div>
        <div class="col data d-title">
            current status
        </div>
        <div class="col data d-title">
            details
        </div>
        {% for order in orders %}
        <div class="w-100"></div>
        <div class="col data">
            {{ order.address }}
        </div>
        <div class="col data">
            {{ order.phone }}
        </div>
        <div class="col data">
            {{ order.status }}
        </div>
        <div class="col data bg-secondary">
            <div class="p-0 m-0">
                <a href="{% url 'courier' %}/{{ order.id }}" class="btn btn-secondary w-100">View details</a>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="text-center container" style="font-size: 2.5em;">No one order yet</div>
{% endif %}
{% endblock %}
